

.column{
    float: left;
    width: 25%;
    height: 200px;
}

#col1 {
    background-color: rgb(63, 63, 63);
}

#col2 {
    background-color: rgb(97, 97, 100);
}

#col3 {
    background-color: rgb(159, 159, 173);
}

#col4 {
    background-color: rgb(234, 238, 239);
}

.row:after {
    clear: both;
    content: "";
    display: table-column;
}

h1 {
    margin-left: 250px;
}

